.featured-item {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../../../../assets/home/featured.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
   
}
